body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(105, 214, 69) 15% ,rgb(110, 241, 182) 80% );
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:ital,wght@1,700&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Lilita One';
  letter-spacing: 8px;
  filter: drop-shadow(0px 0px 10px rgb(47, 150, 240));
  color: rgb(21, 59, 79);
}
